{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
Заявки
{% endblock %}

{% block content %}

<h1 style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 50px; margin-left: 100px; color: black;text-align: center; margin-top: 70px">Моя заявка</h1>
<div style="display: block; margin-left: 120px; font-family: 'Roboto', sans-serif; margin-top: 40px">
    <select style="border-radius: 5px; padding: 5px 5px; width: 440px; margin-bottom: 10px;">
        <option>Выберите турнир</option>
        <option>Лига Чемпионов</option>
        <option>Лига Европы</option>
        <option>Лига Конференций</option>
    </select>
</div>


<div>
    <ul style="display: grid; grid-template-columns: 440px 440px 440px; padding: 0; margin-left: 100px">
        {% for request in data.requests %}
            {% for player in data.players %}
                {% if player.id in request.players_id %}
                    <li class="card">
                        <img style="
        position: absolute;
        width: 296px;
        height: 272px;
        left: 0px;
        top: 0px;
        " src="{{ player.pic }}" alt="player img">
                        <a style=" text-decoration: none;
        position: absolute;
        width: 200px;
        height: 29px;
        left: 25px;
        top: 280px;

        font-family: 'Inria Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        /* identical to box height */
        text-align: left;

        color: #000000;" href="{% url 'player_url' player.id %}">{{ player.l_name }}</a>
                        <p style = "
        position: absolute;
        width: 145px;
        height: 29px;
        left: 25px;
        top: 309px;

        font-family: 'Inria Serif';
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        /* identical to box height */
        text-align: left;

        color: #000000;
        ">{{ player.position }}</p>
                        <p style="position: absolute;
        width: 40px;
        height: 58px;
        left: 243px;
        top: 280px;

        font-family: 'Inria Serif';
        font-style: italic;
        font-weight: 400;
        font-size: 40px;
        line-height: 58px;
        /* identical to box height */
        text-align: center;

        color: #250CB5;">{{ player.number }}</p>
                    </li>
                {% endif %}
            {% empty %}
                <li style="font-family: 'Roboto', sans-serif; color: white">По Вашему поиску результатов не найдено</li>
            {% endfor %}

        {% empty %}
            <li style="font-family: 'Roboto', sans-serif; color: white">По Вашему поиску результатов не найдено</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}